.introduction {
  width: 1400px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 101;
  position: absolute;
}
.about-us {
  width: 525px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.under_introduction {
  width: 700px;
  padding-top: 20px;
  padding-bottom: 35px;
  font-size: 32px;
  width: 800px;

  font-family: "Inter";
  font-size: 32px;
  font-weight: 400;

  display: flex;
  justify-content: center;
}
.title_introduction {
  width: 300px;
  height: 50px;
  font-family: "Azeret-bold";
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 35px;
  font-size: 32px;

  display: flex;
  justify-content: center;
}

@media (max-width: 1300px) {
  .introduction {
    transition: 50ms;
    width: 1000px;
    height: 500px;
  }
  .about-us {
    transition: 50ms;
    width: 475px;
    height: 500px;
  }
  .title_introduction {
    transition: 50ms;
    width: 700px;
    font-family: "Azeret-bold";
    font-weight: 500;
    font-size: 27px;
  }

  .under_introduction {
    transition: 50ms;
    width: 700px;
    padding-top: 20px;
    padding-bottom: 35px;
    font-size: 25px;
  }
}

@media (max-width: 1000px) {
  .introduction {
    transition: 50ms;
    width: 800px;
    height: 400px;
  }
  .about-us {
    transition: 50ms;
    width: 475px;
    height: 500px;
  }
  .title_introduction {
    transition: 50ms;
    width: 700px;
    font-family: "Azeret-bold";
    font-weight: 500;
    font-size: 27px;
  }

  .under_introduction {
    transition: 50ms;
    width: 400px;
    padding-top: 20px;
    padding-bottom: 35px;
    font-size: 25px;
  }
}
@media (max-width: 700px) {
  .introduction { 
    transition: 50ms;
     width: 650px;
    height: 300px;
  }
  .about-us {
    transition: 50ms;
    width: 475px;
    height: 300px;
  }
  .title_introduction {
    transition: 50ms;
    width: 700px;
    font-family: "Azeret-bold";
    font-weight: 500;
    font-size: 25px;
  }

  .under_introduction {
    transition: 50ms;
    width: 450px;
    padding-bottom: 35px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width:600px) {
  .introduction { 
    transition: 50ms;
     width: 350px;
    height: 300px;
  
    display: flex;
    flex-wrap: wrap;
  }
  .about-us {
    transition: 50ms;
    width: 325px;
    height: 300px;
  }
  .title_introduction {
    transition: 50ms;
    width: 320px;
    font-family: "Azeret-bold";
    font-weight: 500;
    font-size: 16px;
  }

  .under_introduction  {
    transition: 50ms;
    width: 350px;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
  }
}